In [1]:
# pip install pandas

In [34]:
import pandas as pd

In [87]:
df=pd.read_json("d.json")

In [88]:
df.iloc[0]

name      kowsalya
age             24
course       py,ml
Name: 0, dtype: object

In [89]:
df.head()

       name  age  course
0  kowsalya   24   py,ml
1  buvanesh   24      py
2       joe   23  dotnet

In [90]:
df[0:3]

       name  age  course
0  kowsalya   24   py,ml
1  buvanesh   24      py
2       joe   23  dotnet

In [68]:
data={
    'name':['kowsalya','buvanesh','joe'],
    'age':[24,24,23],
    'course':['py,ml','py','dotnet']

}

In [69]:
d=pd.DataFrame(data)

In [73]:
d.to_json('data.json',indent=4,orient='records',lines=False)

In [78]:
d.to_json('d.json',indent=4,index=True)

In [39]:
# pip install xlrd

Requirement already satisfied: xlrd in c:\users\kowsalya m\desktop\python\venv\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
df=pd.read_excel("C:\\Users\\KOWSALYA M\\Desktop\\python\\BeyondUniverse-main\\4_day\\EXCEL\\dashboard.xls",sheet_name='Calculation')

In [24]:
df

             Calculation  Unnamed: 1
0  Actual Start Position           1
1       Maximum Position          91

In [27]:
df=pd.read_excel("C:\\Users\\KOWSALYA M\\Desktop\\python\\BeyondUniverse-main\\4_day\\EXCEL\\dashboard.xls",sheet_name=0)

In [28]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Dashboard Table - Scroll,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.00,0.0,0.00
4,NaN,NaN,1,0.0,NaN,284.0,267.0,0.28,-11.0,348.83
5,NaN,NaN,2,0.0,NaN,170.0,218.0,0.86,-11.0,734.27
6,NaN,NaN,3,0.0,NaN,760.0,9.0,0.95,-30.0,503.34
7,NaN,NaN,4,0.0,NaN,366.0,388.0,0.35,47.0,367.90
8,NaN,NaN,5,0.0,NaN,1345.0,130.0,0.58,74.0,477.47
9,NaN,NaN,6,0.0,NaN,790.0,181.0,0.97,-10.0,678.05
10,NaN,NaN,7,0.0,NaN,1269.0,319.0,0.78,24.0,373.29
11,NaN,NaN,8,0.0,NaN,107.0,16.0,0.59,61.0,532.21
12,NaN,NaN,9,0.0,NaN,501.0,486.0,0.56,67.0,265.00
13,NaN,NaN,10,0.0,NaN,953.0,259.0,0.05,74.0,855.81
14,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN